/* google font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* npm   */
@import "tailwindcss";
@plugin "daisyui";

/* style */

* {
  font-family: "Inter", sans-serif;
}

.active {
  background: #fd1d1d;
  background: linear-gradient(
    30deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  
  );
  color: white;
}
/* custom utlity */
